@model IEnumerable<LibApp.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p>
    <a class="btn btn-primary" asp-action="New">New Book</a>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th colspan="2">Genre</th>
        </tr>
    </thead>
    <tbody>
        <table id="books" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Genre</th>
                    <th>Author</th>
                    <th>Actions</th>
               </tr>
            </thead>
        </tbody>
    </table>
            @section Scripts
            {
            <script>
                $(document).ready(function () {
                    $('#books').DataTable({
                        ajax: {
                            url: "api/books",
                            dataSrc: "",
                            type: "GET",
                            error: function (xhr, status, error) 
                            {
                                console.error("An error occurred: " + xhr.status + " " + error);
                            }
                        },
                        columns: [
                            {
                                data: "title",
                                render: function (data, type, book) {
                                    return "<a href='/Books/Details" + book.id + "'>" + book.title + "</a>";
                                }
                            },
                            {
                                data: "genre.name"
                            },
                            {
                                data: "author"
                            },
                            {
                                data: "id",
                                render: function (data) 
                                {
                                    return "<a class='btn btn-default' href='/Books/Edit/" + data + "'>Edit</a> " +
                                           "<a class='btn btn-info' href='/Books/Details/" + data + "'>Details</a>";
                                },
                            }
                        ]
                    });
                });
            </script>

        }
    </tbody>
</table>